input[type="file"] {
    display: none;
}
.custom-file-upload {
    margin-top: 12px;
    border: 2px dashed rgb(112, 84, 178);
    border-radius: 10px;
    padding: 20px !important;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}